body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: #121d3d;
  font-family: 'Manrope', sans-serif;
  color: white;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}
